.vs/                       
packages/    
IAAITaiwanPractice240823/obj/
IAAITaiwanPractice240823/bin/
IAAITaiwanPractice240823/Images/
IAAITaiwanPractice240823/UploadedFiles/
IAAITaiwanPractice240823/userfiles/
IAAITaiwanPractice240823/Web.config
IAAITaiwanPractice240823/Properties/